.nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} ZT App
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Dashboard
        %li
          %a{:href => "#"} Settings
        %li
          %a{:href => "#"} Profile
        %li
          %a{:href => "#"} Help
      %form.navbar-form.navbar-right
        %input.form-control{:placeholder => "Search...", :type => "text"}

.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      %ul.nav.nav-sidebar
        %li.active
          %a{:href => "#"}
            Overview
            %span.sr-only (current)
        %li
          %a{:href => "#"} Reports
        %li
          %a{:href => "#"} Analytics
        %li
          %a{:href => "#"} Export
      %ul.nav.nav-sidebar
        %li
          %a{:href => ""} Nav item
        %li
          %a{:href => ""} Nav item again
        %li
          %a{:href => ""} One more nav
        %li
          %a{:href => ""} Another nav item
        %li
          %a{:href => ""} More navigation
      %ul.nav.nav-sidebar
        %li
          %a{:href => ""} Nav item again
        %li
          %a{:href => ""} One more nav
        %li
          %a{:href => ""} Another nav item

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          %h1.page-header Dashboard
          .row.placeholders
            .col-xs-6.col-sm-3.placeholder
              %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}
                %h4 Label
                %span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
              %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}
                %h4 Label
                %span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
              %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}
                %h4 Label
                %span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
              %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}
                %h4 Label
                %span.text-muted Something else   
